# Python
venv/
__pycache__/
*.pyc

# Environment variables
.env

# VS Code settings
.vscode/

# Logs
*.log
chat_logs.txt

.DS_Store

# Ignore downloaded legislature data folder
legislature.mi.gov/
mcl_chroma_db/

# Ignore user data
instance/users.db